@import './variables';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 30px;
  display: flex;
}

.calendar {
  flex-wrap: wrap;
  gap: $gap;
  width: 706px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__day {
    box-sizing: border-box;
    background-color: #eee;
    height: $height;
    width: $width;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    transition-duration: 500ms;

    &:hover {
      cursor: pointer;
      transition-duration: 500ms;
      background-color: #ffbfcb;
      transform: translateY(-20px);
    }
  }
}

@for $day from 1 through 31 {
  .calendar__day:nth-child(#{$day})::before {
    content: '#{$day}';
  }
}

@each $pair in $day-offsets {
  .calendar--start-day-#{$day} .calendar__day:first-child {
    margin-left: calc(#{$index} * (#{$width} + #{$gap}));
  }
}

@for $length from 28 through 31 {
  .calendar--month-length-#{$length} {
    .calendar__day:nth-child(n + #{$length + 1}) {
      display: none;
    }
  }
}
